header {
    padding: 3px;
}

body {
    background-image: url("/acme/images/site/background.jpg");
    font-family: helvetica;
}

main {
    background-color: #fff;
    padding: 5px;
}

img {
    max-width: 100%;

}

footer {
    display: flex;
    border-top: solid 3px;
    text-align: center;
}

footer p {
    flex-flow: column;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding-left: 0;
    padding-right: 100px;
    margin-left: 0;
    background-color: #de2226;
    list-style-type: none;
}

nav li {

    align-items:flex-start;
    margin: 3px;
}

#home-content img{
    display: flex;
}
.recipes img {
    border: solid 10px #808080;
}

.recipes li {
    max-width: 45%;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    text-decoration: underline;
    color: #0000ee;
}

.rocket-text li{
    color: #990033;
    list-style-type: none;
}



a:hover {
    background-color: #fff;
    color: #de2226;

}

footer {
    display: flex;
    flex-flow: nowrap;
}

@media only screen and (min-width: 700px) {

    nav ul {
        padding-right: 50%
    }

    .home-content img {
        padding-right: 50%;
    }

    #flexrecipes, .flexreviews {
        max-width: 45%;
        justify-content: center;
    }
    #flexr {
        display: flex;
    }
}
